::-moz-selection {
background:#e06d5e;
}
::selection {
background:#e06d5e;
}

.navbar .brand a:hover {
	color:#1BAC91;
}



ul#menu-main > li > a:hover {
	color: #1BAC91;
}


ul#menu-main > li > a:focus,ul#menu-main > li > a:active, ul#menu-main > li > a.selected, ul#menu-main li a.selected:active    {
	color: rgb(163, 115, 52);
}
#header-wrapper h1 span {
	color:rgb(31, 34, 33);
}

#header-wrapper input[type=submit] {
	background: rgb(8, 8, 8) !important;
}

#theme-form input[type=submit] {
	background: rgb(5, 5, 5) !important;
}

.btn.btn-theme {
	background: #131414 !important;
}

/* blog */
.home-post .post-meta {
	background: rgb(23, 24, 24);
}

/* com */
.tabbable ul.nav-tabs li.active a,.tabbable ul.nav-tabs li a:hover {
	color: rgb(9, 10, 10);
}
.accordion .accordion-heading a.active {
	color: rgb(26, 29, 28);
}

#tweet ul li a {
	color: #1BAC91;
}


/* works */
#filters ul li a:hover h5, #filters ul li a.active h5 {
	background: #1BAC91;
	border-color: #1BAC91;
}

.portfolio .portfolio-overlay {
	background: rgb(68, 80, 78);
}

/* icon */
i.icon-bgdark:hover {
	background: #020202;
}

i.icon-bgdark.active {
	background: #e06d5e;
}